*{
  font-family: Ariel;
  margin: 0;
  padding: 0;
}

body {
  background: #f5eee1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
/*   animation: expand 0.8s ease forwards; */
}

.content {
  min-height: 200px;
  width: 500px;
  
/*   height: 200px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px; */
  
  animation: expand .8s ease forwards;
}

.profilepicture {
  height: 100px;
  width: 100px; 
  border: 1px solidwhite; 
  display: block; 
  margin-right: auto; 
  margin-left: auto;

/*   animation: slideUp 2s ease forwards; */
/*   animation: expand 0.8s ease forwards; */
}

.start_title {
  text-align: center;
  font-family: Courier New;
  font-weight: 600;
  transform: translateY(300px);
/*   animation: slideUp 0.6s ease forwards; */
/*   animation: expand 0.8s ease forwards; */
}

.start_description {
  text-align: center;
  transform: translateY(300px);
/*   animation: slideUp 0.6s ease forwards; */
/*   animation: expand 0.8s ease forwards; */
}

.start {
  background: white;
  color: black; 
  display: block; 
  height: 40px;
  width: 145px;
  border-radius: 20px;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  font-weight: 550;
  line-height: 20px;
  font-size: 13px; 
/*   transition: 0.2s; */
  font-family: monaco;
  border: none;
/*   animation: slideUp 0.6s ease forwards; */
/*   animation: expand 0.8s ease forwards; */
}

.start:focus {
  outline: none;
}

.start:hover {
  background: #79bf67;
  color: white;
}

.title {
  text-align: center;
/*   font-family: Courier New; */
  font-family: monaco;
  font-weight: 600;
/*   transform: translateY(300px);   */
/*   animation: expand 0.8s ease forwards; */
}

.description {
  text-align: center;
/*   transform: translateY(300px); */
/*   animation: expand 0.8s ease forwards; */
}

.submit {
  background: white;
  color: black; 
  display: block; 
  height: 40px;
  width: 145px;
  border-radius: 20px;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  font-weight: 550;
  line-height: 20px;
  font-size: 13px; 
  transition: 0.2s;
  font-family: monaco;
  border: none;
  animation: expand 0.8s ease forwards;
}

.submit:focus {
  outline: none;
}

.submit:hover {
  background: #79bf67;
  color: white;
}

.results {
  background: white;
  color: black; 
  display: block; 
  height: 40px;
  width: 145px;
  border-radius: 20px;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  font-weight: 550;
  line-height: 20px;
  font-size: 13px; 
  transition: 0.2s;
  font-family: monaco;
  border: none;
  
}

.results:focus {
  outline: none;
}

.results:hover {
  background: #79bf67;
  color: white;
}

/* test css transition page */
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY();
  }
  100% {
    transform: translateY(300px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* end of transition */

.button1 {
  background: white;
  color: black;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin: 7px 5px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
/*   line-height: 60px;  best for paragraph of text*/
  transition: 0.2s;
  
  /*Makes the button a flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer.button1:focus {
  outline: none;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  animation: expand 0.8s ease forwards;
}

.buttonContainer label {
  /*Making the buttons inline*/
  display: inline-block;
}

.buttonContainer label input:checked + .button1 {
  background: #79bf67;
  color: white;
}

.buttonContainer label input {
  /*Hide checkbox*/
  display: none;
}

.buttonContainer .button1_icon {
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
}
/* .button1_icon {
  position:relative; 
  float:left;
  width: 65px;
  height: 65px;
  left: 41px;
  top: 1px;
} */
